@import '../styles/variables.scss';

.carousel {
    @include center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        display: flex;
        align-items: center;
        padding: 30px;
        max-width: calc(100vw - 40px);
        border-radius: 5px 0;
        background-color: hsla(0, 0%, 100%, 0.8);
        i {
            @include center;
            height: inherit;
            margin-right: 20px;
            font-size: 40px;
        }
    }
    h1 {
        font-weight: 600;
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}
@media screen and (max-width: 760px) {
    .carousel {
        h1 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}